[user]
  name =  <Name>
  email = <Email>

#http://help.github.com/set-your-user-name-email-and-github-token/
#[github]
  #user = [Github Username]
	#token = [API Token]

[core]
  autocrlf = input
  editor = vi
  excludesfile = ~/.gitignore
  pager = less -r
  safecrlf = true
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[push]
  #Only Push Upstream for the Current Branch
  default = upstream

[color]
  branch = auto
  diff = auto
  interactive = auto
  log = auto
  pager = true
  status = auto
  ui = auto

[color "branch"]
  current = red reverse
  local = red
  plain = normal
  remote = green

[color "diff"]
  plain =
  meta = cyan bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "log"]
  added = yellow
  changed = green
  untracked = cyan

# from https://git.wiki.kernel.org/index.php/Aliases
[alias]
  st = status
  ci = commit
  di = diff
  df = diff --ignore-space-change
  br = branch
  co = checkout
  lg = log --stat -p
  re = rebase
  stats = shortlog -s --

  #Color coding logging
  graph = log --graph --oneline --all
  graph2 = log --graph --all --pretty=oneline --decorate --abbrev-commit

  plom = pull origin master
  psom = push origin master

# Git Flow Pieces (master -> develop, release -> master)
[gitflow "branch"]
  develop = master
  master = release

[gitflow "prefix"]
  feature = feature-
  release = release-
  hotfix = hotfix-
  support = support-
  versiontag =

[apply]
  whitespace = strip

  ## For Diff / Merging ##
  # - Ubuntu - (meld) apt-get install meld
  # - OSX - (opendiff)
  #	- Windows/MSYSGit (araxis)

[diff]
  #OSX
  tool = opendiff

[merge]
  ff = no
  keepBackup = false
  #OSX
  tool = opendiff

[mergetool]
  keepBackup = false

[mergetool "diffmerge"]
  # $LOCAL – Current branch version
  # $REMOTE – Version to be merged
  # $BASE – Common ancestor
  # $MERGED – File where results will be written
  # current version in the left pane, the merge result in the middle pane and the remote version in the right pane
  cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = false
